.footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 100px 5% 20px;
}

.footer section img {
    width: 150px;
}

.footer > p {
    font-size: .8rem;
    margin-top: .5rem;
}

@media (max-width: 768px) {
    .footer {
        text-align: center;
    }

    .footer > p {
        margin-top: 2rem;
    }
}